
.vertical-center-row {
    margin-top: 15%;
}

.vertical-top-row {
    vertical-align: top;
    margin-top: 2%;
}

.vertical-pictures-row {
    margin-top: 3%;
}

.vertical-videos-row {
    margin-top: 3%;
}

.alert-danger  {
    margin-top: 1%;
    text-align: center;
}

.footer {
    margin-bottom: 10px;
    bottom: 0;
    position: sticky;
    color: #f90;
}

/* Other stuff */

.icon-camera-size {
    margin-bottom: 0;
    font-size: 21px;
}

@media (max-width: 767px) {
    .col-xs-12 {
        margin-bottom: 10px;
    }
}

.vertical-videos-row .glyphicon-play-circle {
    position: absolute;
    top: 22%;
    left: 26%;
    font-size: 7em;
    opacity: 0.5;
    color: #f90;
}

.vertical-videos-row .glyphicon-play-circle:hover, .vertical-videos-row .glyphicon-play-circle:focus {
    opacity: 1;
}


/* Colors */

.logo {
    font-family: 'Modak', cursive;
    font-size: 4em;
    color: #af1820;
    text-shadow: 2px 1px 2px #f90
}

.description {
    font-family: 'Baloo', cursive;
    font-size: 1.3em;
    color: #f90;
}
    .description b {
        color: #af1820;
    }

body {
    background-color: #000;
}

.img-border {
    box-shadow: 2px 2px 2px #f90;
    border-radius: 4px;
}

.input-url-color {
    border: 1px solid #f90;
}

.upload-button-color {
    background-color: #f90;
    border: 1px solid #f90;
}

.camera-icon-color {
    color: #000;
}

.camera-icon-background {
    background-color: #f90;
}

.button-refresh {
    background-color: #f90;
    color: #000;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer a {
    color: inherit;
}

.footer i {
    color: #af1820;
}

.grayscale {
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE6+ */
}
