html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.icon-camera-size {
    margin-bottom: 0;
    font-size: 21px;
}

.upload-form {
    overflow: hidden;
    height: 50%;
}

div.images-container div {
    max-width: 40vh;
    max-height: 40vh;
    overflow: hidden;
}

div.images-container div {
    max-height: inherit;
}

#preview {

}

#look-a-like {

}
